.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  font-size: 200%;
  letter-spacing: 6px;
}

h2 {
  font-size: 600%;
  letter-spacing: 20px;
  
  margin-left: 4%;
}

.Card {
  background-color: #24CE5E;
  width: 50%;
  height: 50%;
  border-radius: 5%;

}

.titulo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #1445A6;
}

.App-header {
  background-color: #161C2E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
  background-color: #1445A6;
  font-size: 140%;
  width: 25%;
  height: 30%;
  display: inline;
  margin-inline: 8%;
  margin-bottom: 10%;
  border-radius: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


